<!-- Search Filter Modal -->
<div class="modal fade" id="searchFilterModal" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header own_modal_header">
        <span class="goT_green font_18px"><img class="search_icon" src="images/mglass_green.png">Search</span>
        <a class="floatRigth" data-dismiss="modal"><img class="modal_close_icon cursor_pointer close_icon_position " src="images/cross.png"></a>
      </div>
      <div class="modal-body font_18px">
        <div class="form-group">
          <label for="name">name</label>
          <input id="name" type="text" class="form-control input-lg search_modal_input" placeholder="write name" ng-model="searchDirective.name">
        </div>
        <div class="form-group">
          <label for="location">location</label>
          <select id="location" name="location" class="form-control input-lg search_modal_input" ng-model="searchDirective.selectedLocation" ng-options="location.abbreviation as location.name for location in searchDirective.locations | orderBy:'name'">
            <option value="">select location</option>
          </select>
        </div>
        <div class="form-group">
          <label for="top">is top?</label>
          <div id="top">
            <input type="radio" class="form-control input-lg" ng-model="searchDirective.isTop" ng-value="true">
            <input type="radio" class="form-control input-lg" ng-model="searchDirective.isTop" ng-value="false">
          </div>
        </div>
        <div class="form-group">
          <label for="popularity">popularity</label>
          <input id="popularity" type="range" ng-model="searchDirective.popularity">
        </div>
      </div>
      <div class="modal-footer own_modal_footer">
        <button type="button" class="btn search_btn cursor_pointer" data-dismiss="modal" ng-click="searchFilterActorsList()">Search</button>
      </div>
    </div>
  </div>
</div>
